// 减小弹出菜单的项目高度
.el-menu--popup {
  .el-menu-item {
    height: 1.5rem;
    line-height: 1.5rem;

  }

  .el-submenu__title {
    height: 2.25rem;
    line-height: 2.25rem;
  }
}

// 整体框架结构
.d2-layout-header-aside-group {
  height: 100%;
  width: 100%;
  min-width: 56.25rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

  // 背景上面的半透明遮罩
  .d2-layout-header-aside-mask {
    @extend %full;
  }

  // 内容层
  .d2-layout-header-aside-content {
    @extend %full;

    .d2-theme-header {
      height: 3rem;
      background: #fff;

      .d2-theme-header-menu {
        overflow: hidden;

        &.is-scrollable {
          position: relative;
          padding: 0 1.25rem;

          .d2-theme-header-menu__prev,
          .d2-theme-header-menu__next {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
        }

        .d2-theme-header-menu__content {
          overflow: hidden;

          .d2-theme-header-menu__scroll {
            white-space: nowrap;
            position: relative;
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s, -webkit-transform .3s;
            transition: transform .3s, -webkit-transform .3s;
            float: left;
          }
        }

        .d2-theme-header-menu__prev,
        .d2-theme-header-menu__next {
          height: 3.75rem;
          position: absolute;
          top: 0;
          font-size: 1.25rem;
          cursor: pointer;
          display: none;
        }

        .d2-theme-header-menu__prev {
          left: 0;
          border-top-left-radius: .125rem;
          border-bottom-left-radius: .125rem;
        }

        .d2-theme-header-menu__next {
          right: 0;
          border-top-right-radius: .125rem;
          border-bottom-right-radius: .125rem;
        }
      }
    }

    .d2-theme-container {
      .d2-theme-container-aside {
        position: relative;
        background-color: #fff;

        .d2-layout-header-aside-menu-side {
          @extend %full;
          border-bottom-right-radius: 16px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #804efd;

          ul {
            margin-top: 1.5rem;
            width: 90%;
            background-color: #6939ed;
            border-radius: .5rem;
            overflow: hidden;

            li {
              width: 100%;
              height: 3rem;
              line-height: 3rem;
              font-size: .75rem;
              color: white;

              &:hover {
                background: #804efd;
              }

              i {
                color: white;
                display: inline-block;
              }
            }

            .is-active {
              color: white;

              i {
                color: white;
              }
            }
          }
        }
      }

      .d2-theme-container-transition {
        transition: width .3s;
      }

      .d2-theme-container-main {
        padding: 0rem;
        position: relative;
        overflow: hidden;

        .d2-theme-container-main-layer {
          position: absolute;
          top: 0rem;
          bottom: 0rem;
          left: 0rem;
          right: 0rem;
          background: #fff;
        }

        .d2-theme-container-main-body {
          position: relative;
        }
      }
    }
  }
}

// 主题公用
.d2-layout-header-aside-group {
  &.grayMode {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }

  // 主体
  .d2-layout-header-aside-content {

    // [布局] 顶栏
    .d2-theme-header {

      // logo区域
      .logo-group {
        float: left;
        text-align: center;

        img {
          height: 3.75rem;
        }

        background: #804efd;
        border-top-right-radius: 1rem;
      }

      .logo-transition {
        transition: width .3s;
      }

      // 折叠侧边栏切换按钮
      .toggle-aside-btn {
        float: left;
        height: 3rem;
        width: 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %unable-select;

        i {
          font-size: 1.25rem;
          margin-top: .25rem;
        }
      }

      // [菜单] 顶栏
      .el-menu {
        float: left;
        border-bottom: none;
        background-color: transparent;

        %header-menu-item {
          @extend %unable-select;

          i.fa {
            font-size: 1rem;
            margin-right: .25rem;
          }
        }

        .el-menu-item {
          @extend %header-menu-item;
          border-bottom: none;
          background-color: #fff;
        }

        .el-submenu {
          @extend %header-menu-item;

          .el-submenu__title {
            border-bottom: none;
          }
        }
      }

      // 顶栏右侧的按钮
      .d2-header-right {
        float: right;
        height: 3rem;
        display: flex;
        align-items: center;

        .btn-text {
          padding: .875rem .75rem;
          border-radius: .25rem;
          margin: 0rem !important;

          &.el-color-picker.el-color-picker--mini {
            padding: .5625rem .375rem;
          }
        }

        .el-dropdown {
          @extend %unable-select;
        }
      }
    }

    // [布局] 顶栏下面
    .d2-theme-container {

      // 侧边栏
      .d2-theme-container-aside {
        %d2-theme-container-aside-menu-icon {
          width: 1.25rem;
          text-align: center;
          font-size: 1rem;
        }

        // [菜单] 正常状态
        .el-menu {
          @extend %unable-select;
          background-color: transparent;
          border-right: none;

          .el-menu-item {
            i {
              @extend %d2-theme-container-aside-menu-icon;
            }
          }
        }

        .el-submenu {
          @extend %unable-select;

          .el-submenu__title {
            i {
              @extend %d2-theme-container-aside-menu-icon;
            }

            .el-submenu__icon-arrow {
              margin-top: -0.625rem;
            }
          }
        }

        // 菜单为空的时候显示的信息
        .d2-layout-header-aside-menu-empty {
          height: 10rem;
          margin: .625rem;
          margin-top: 0rem;
          border-radius: .25rem;
          @extend %unable-select;

          i {
            font-size: 1.875rem;
            margin-bottom: .625rem;
          }

          span {
            font-size: .875rem;
          }
        }

        // [菜单] 折叠状态
        .el-menu--collapse {
          background-color: transparent;

          .el-submenu__title {
            text-align: center;
          }
        }
      }

      // 右下 主体
      .d2-theme-container-main {

        // 主体部分分为多页面控制器 和主体
        .d2-theme-container-main-header {
          height: 32px;

          // 多页面控制器
          .d2-multiple-page-control-group {
            padding-right: 1.25rem;

            .d2-multiple-page-control-content {
              overflow: auto;
              position: relative;

              .d2-multiple-page-control-content-inner {
                .d2-multiple-page-control {
                  .el-tabs__header.is-top {
                    margin: 0rem;
                    border-color: #fff;
                  }

                  .el-tabs__nav {
                    overflow: hidden;
                  }
                }
              }
            }

            .d2-multiple-page-control-btn {
              position: relative;
              bottom: -0.0625rem;
              height: 32px;

              .el-dropdown {
                .el-button-group {
                  height: 32px;

                  .el-button:first-child {
                    height: 100%;
                    border-bottom-left-radius: 0rem;
                  }

                  .el-button:last-child {
                    height: 100%;
                    border-bottom-right-radius: 0rem;
                  }
                }
              }
            }
          }
        }

        // 主体
        .d2-theme-container-main-body {
          display: flex;

          // 布局组件
          .container-component {
            @extend %full;
            overflow: hidden;

            // 填充式布局组件
            .d2-container-full {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-full__header {
                padding: 1.25rem;
              }

              .d2-container-full__body {
                flex-grow: 1;
                height: 100%;
                padding: 1.25rem 1.25rem;
                overflow: auto;
                position: relative;
              }

              .d2-container-full__footer {
                padding: 1.25rem;
              }
            }

            // 填充式布局组件 - 滚动优化
            .d2-container-full-bs {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-full-bs__header {
                padding: 1.25rem;
              }

              .d2-container-full-bs__body {
                flex-grow: 1;
                overflow: hidden;
                position: relative;

                .d2-container-full-bs__body-wrapper-inner {
                  padding: 1.25rem;
                  position: relative;
                }
              }

              .d2-container-full-bs__footer {
                padding: 1.25rem;
              }
            }

            // 隐形布局组件
            .d2-container-ghost {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-ghost__header {
                padding: 1.25rem;
                border-bottom-left-radius: .25rem;
                border-bottom-right-radius: .25rem;
              }

              .d2-container-ghost__body {
                flex-grow: 1;
                overflow: auto;
                position: relative;
              }

              .d2-container-ghost__footer {
                padding: 1.25rem;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
              }
            }

            // 隐形布局组件 - 滚动优化
            .d2-container-ghost-bs {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-ghost-bs__header {
                padding: 1.25rem;
                border-bottom-left-radius: .25rem;
                border-bottom-right-radius: .25rem;
              }

              .d2-container-ghost-bs__body {
                flex-grow: 1;
                overflow: hidden;
                position: relative;
              }

              .d2-container-ghost-bs__footer {
                padding: 1.25rem;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
              }
            }

            // 卡片式布局组件
            .d2-container-card {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-card__header {
                padding: 1.25rem;
              }

              .d2-container-card__body {
                flex-grow: 1;
                overflow: auto;

                .d2-container-card__body-card {
                  position: relative;
                  margin-bottom: 1.25rem;
                  padding: 1.25rem;
                  border-bottom-left-radius: .25rem;
                  border-bottom-right-radius: .25rem;
                }
              }

              .d2-container-card__footer {
                padding: 1.25rem;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
              }
            }

            // 卡片式布局组件 - 滚动优化
            .d2-container-card-bs {
              position: absolute;
              top: 0rem;
              right: 1.25rem;
              bottom: 0rem;
              left: 0rem;
              display: flex;
              flex-direction: column;
              overflow: hidden;

              .d2-container-card-bs__header {
                padding: 1.25rem;
              }

              .d2-container-card-bs__body {
                position: relative;
                flex-grow: 1;
                overflow: hidden;

                .d2-container-card-bs__body-wrapper-inner {
                  padding-bottom: 1.25rem;
                }

                .d2-container-card-bs__body-card {
                  position: relative;
                  padding: 1.25rem;
                  border-bottom-left-radius: .25rem;
                  border-bottom-right-radius: .25rem;
                }
              }

              .d2-container-card-bs__footer {
                padding: 1.25rem;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
              }
            }
          }
        }
      }
    }
  }
}